/* === Tema TrocaAI para ReDoc === */

/* Fundo clean */
body {
    background-color: #ffffcc !important;
    font-family: 'Poppins', sans-serif !important;
    color: #000000 !important;
}

/* Título principal */
h1 {
    color: #000000 !important;
    font-weight: bold !important;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Subtítulos */
.redoc-markdown h2,
.redoc-markdown h3 {
    color: #14ffec !important;
    text-shadow: 0 0 8px #14ffec !important;
}

/* Sidebar */
.redoc-wrap .menu-content {
    background-color: #f4f4f4 !important;
    border-right: 4px solid #14ffec !important;
}

    /* Links na Sidebar */
    .redoc-wrap .menu-content a {
        color: #00eaff !important;
        font-weight: bold;
        transition: color 0.3s ease-in-out;
    }

        /* Hover nos links */
        .redoc-wrap .menu-content a:hover {
            color: #14ffec !important;
            text-shadow: 0 0 5px #
        }


/* Adicionar logo acima do menu */
.menu-content::before {
    content: "";
    display: block;
    background-image: url('/logo-trocaai-positivo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 70%;
    height: 100px; /* Ajuste a altura conforme necessário */
    margin: 20px;
}
